:root {
  --cell-width: 30px;
  --cell-max-width: 30px;
  --cell-border-radius: 5px;
  --timesheet-border-color: #f5f5f5;
  --coner-border-radius: 16px;
}

#root {
  padding: 16px;
  background-color: #f5f5f5;
}

table {
  background-color: white;
  border-radius: 8px;
  border-spacing: 2px;
    border-collapse: separate;
  th {
    min-width: var(--cell-width);
    height: 36px;
    & > .head,
    & > .head-project, & > .head-empty {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;
      border: 1px solid var(--timesheet-border-color);
    }
    & > .head {
      max-width: var(--cell-max-width);
    }
  }
  
  tr {
    .context-cell {
      padding: 2px 8px;
    }
  }
  td {
    position: relative;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: var(--cell-border-radius);
  }

  th,
  td {
    user-select: none;
  }
  tfoot {
    td {
      padding: 6px;
    }
  }
}

td .ant-badge {
  position: static !important;
  & .ant-badge-dot {
    width: 10px;
    height: 10px;
    z-index: 9999;
  }
}

.cell-selection-layer, .cell-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: var(--cell-border-radius)
}

.cell-content {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell, .cell-selection-layer {
  &:hover {
    background-color: #00D7F0 !important; 
  }
}

.cell-in-range {
  background-color: #e1e1de !important
}

.cell-selected {
  background-color: #f9fae1 !important;
}

.dragging {
  cursor: grabbing !important;
}

.cell-approved {
  background-color: #427839;
}

.cell-rejected {
  background-color: #F00000;
}

.cell-pending {
  background-color: #F0BC00;
}

.cell-disabled {
  background-color: #efefef;
  cursor: not-allowed;
}