:root {
  --cell-width: 30px;
  --cell-max-width: 30px;
  --timesheet-border-color: #f5f5f5;
}

table {
  th {
    min-width: var(--cell-width);
    height: 36px;
    & > .cell,
    & > .cell-project {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;
      border: 1px solid var(--timesheet-border-color);
    }
    & > .cell {
      max-width: var(--cell-max-width);
    }
  }
  td {
    position: relative;
    text-align: center;
  }

  th,
  td {
    user-select: none;
  }
}

.cell-selection-layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.cell-selected {
  background-color: #f9fae1;
}

.cell-dragging {
  cursor: grab;
}
